@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {

    &__grid {
        @include m.tablet {
            @include m.grid(2, 2rem);
        }
    }

    &__imagen-contenedor {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        
        @include m.desktop {
            width: auto;
            margin: 0;
            align-items: center;

        }
    }

    &__imagen {
        width: 30rem;
        @include m.desktop {
            width: 100%;
        }
    }

    &__contenido {
        background-color: v.$primario;
        padding: 7rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        @include m.tablet {
            margin-bottom: 0rem;
        }
    }

    &__heading {
        color: v.$blanco;
        text-align: center;
    }

    &__campo {
        margin-bottom: 1.5rem;
    }
    
    &__input {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }
    
    &__label {
        color: v.$blanco;
        margin-bottom: .5rem;
        display: block;
        text-transform: uppercase;
    }
    
    &__submit {
        @include m.boton (v.$secundario, v.$blanco);
        @include m.tablet {
            width: 100%;
        }
        margin-top: 2rem;
    }
}